<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>framework</key>
	<string>628.100.8</string>
	<key>images</key>
	<array>
		<dict>
			<key>autodiskmount</key>
			<true/>
			<key>blockcount</key>
			<integer>63568</integer>
			<key>blocksize</key>
			<integer>512</integer>
			<key>diskimages2</key>
			<true/>
			<key>hdid-pid</key>
			<integer>86985</integer>
			<key>image-encrypted</key>
			<false/>
			<key>image-path</key>
			<string>/Users/helgoboss/Documents/projects/dev/reaboot/target/release/bundle/dmg/reaboot-helgobox-installer.dmg</string>
			<key>image-type</key>
			<string>read-only disk image</string>
			<key>owner-uid</key>
			<integer>501</integer>
			<key>removable</key>
			<true/>
			<key>system-entities</key>
			<array>
				<dict>
					<key>content-hint</key>
					<string>GUID_partition_scheme</string>
					<key>dev-entry</key>
					<string>/dev/disk4</string>
				</dict>
				<dict>
					<key>content-hint</key>
					<string>48465300-0000-11AA-AA11-00306543ECAC</string>
					<key>dev-entry</key>
					<string>/dev/disk4s1</string>
					<key>mount-point</key>
					<string>/Volumes/reaboot</string>
				</dict>
			</array>
			<key>writeable</key>
			<false/>
		</dict>
		<dict>
			<key>autodiskmount</key>
			<true/>
			<key>blockcount</key>
			<integer>382525</integer>
			<key>blocksize</key>
			<integer>512</integer>
			<key>diskimages2</key>
			<false/>
			<key>hdid-pid</key>
			<integer>11110</integer>
			<key>icon-path</key>
			<string>/System/Library/PrivateFrameworks/DiskImages.framework/Resources/CDiskImage.icns</string>
			<key>image-encrypted</key>
			<false/>
			<key>image-path</key>
			<string>/Users/helgoboss/Documents/projects/dev/reaboot/target/debug/bla-temp/reaboot-.WJDGG7G1VM5s/reaper712rc1_universal.img</string>
			<key>image-type</key>
			<string>read/write</string>
			<key>owner-uid</key>
			<integer>501</integer>
			<key>removable</key>
			<true/>
			<key>system-entities</key>
			<array>
				<dict>
					<key>content-hint</key>
					<string>GUID_partition_scheme</string>
					<key>dev-entry</key>
					<string>/dev/disk6</string>
				</dict>
				<dict>
					<key>content-hint</key>
					<string>48465300-0000-11AA-AA11-00306543ECAC</string>
					<key>dev-entry</key>
					<string>/dev/disk6s1</string>
					<key>mount-point</key>
					<string>/Users/helgoboss/Documents/projects/dev/reaboot/target/debug/bla-temp/reaboot-.WJDGG7G1VM5s/extracted-dmg/REAPER_INSTALL_UNIVERSAL</string>
				</dict>
			</array>
			<key>writeable</key>
			<true/>
		</dict>
	</array>
	<key>revision</key>
	<string>628.100.8</string>
	<key>vendor</key>
	<string>Apple</string>
</dict>
</plist>